<div class="close-model" id="Close-Model">
    <div class="frame-overlay" js-overlay></div>
    <div class="close-main-model">
        <div class="cross-icon" js-trigger-close>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                <path d="M19.0703 4.92896L4.92818 19.0711" stroke="#2D4256" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M19.0718 19.0711L4.92969 4.92896" stroke="#2D4256" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_2782_57360">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </div>
        <h3 class="model__title">Are you sure you want to exit?</h3>
        <p class="model__text">Your progress won’t be saved.</p>
        <div class="btn-grid">
            <div class="stay-btn model__btn" js-trigger-close>stay</div>
            <div class="exit-btn model__btn" js-reset-btn>exit</div>
        </div>
    </div>
</div>