<div class="edit-frame-card">
    <div class="product-swatch-img">
        {% if product.metafields.custom.swatch_image != blank %}
            <img src="{{ product.metafields.custom.swatch_image |  image_url: width: '100x' }}" alt="{{ product.metafields.custom.swatch_image.alt }}">
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder__svg' }}
        {% endif %}
    </div>
    <div class="product__details">
        <div class="rte__grid">
            <h3 class="product__title">{{ product.title }}</h3>
            <div class="more-info-btn" js-trigger-btn data-trigger-id="Product-Drawer">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.86796 13.6665H10.468V8.8665H8.86796V13.6665ZM9.66796 7.2665C9.89463 7.2665 10.0848 7.1897 10.2384 7.0361C10.392 6.8825 10.4685 6.69264 10.468 6.4665C10.4674 6.24037 10.3906 6.0505 10.2376 5.8969C10.0845 5.7433 9.89463 5.6665 9.66796 5.6665C9.4413 5.6665 9.25143 5.7433 9.09836 5.8969C8.9453 6.0505 8.8685 6.24037 8.86796 6.4665C8.86743 6.69264 8.94423 6.88277 9.09836 7.0369C9.2525 7.19104 9.44236 7.26757 9.66796 7.2665ZM9.66796 17.6665C8.5613 17.6665 7.5213 17.4564 6.54797 17.0361C5.57463 16.6158 4.72797 16.046 4.00797 15.3265C3.28797 14.607 2.7181 13.7604 2.29837 12.7865C1.87864 11.8126 1.6685 10.7726 1.66797 9.6665C1.66744 8.56037 1.87757 7.52037 2.29837 6.5465C2.71917 5.57264 3.28904 4.72597 4.00797 4.0065C4.7269 3.28704 5.57357 2.71717 6.54797 2.2969C7.52237 1.87664 8.56237 1.6665 9.66796 1.6665C10.7736 1.6665 11.8136 1.87664 12.788 2.2969C13.7624 2.71717 14.609 3.28704 15.328 4.0065C16.0469 4.72597 16.617 5.57264 17.0384 6.5465C17.4597 7.52037 17.6696 8.56037 17.668 9.6665C17.6664 10.7726 17.4562 11.8126 17.0376 12.7865C16.6189 13.7604 16.049 14.607 15.328 15.3265C14.6069 16.046 13.7602 16.6161 12.788 17.0369C11.8157 17.4577 10.7757 17.6676 9.66796 17.6665ZM9.66796 16.0665C11.4546 16.0665 12.968 15.4465 14.208 14.2065C15.448 12.9665 16.068 11.4532 16.068 9.6665C16.068 7.87984 15.448 6.3665 14.208 5.1265C12.968 3.8865 11.4546 3.2665 9.66796 3.2665C7.8813 3.2665 6.36797 3.8865 5.12797 5.1265C3.88797 6.3665 3.26797 7.87984 3.26797 9.6665C3.26797 11.4532 3.88797 12.9665 5.12797 14.2065C6.36797 15.4465 7.8813 16.0665 9.66796 16.0665Z" fill="#2D4256"/>
                </svg>
            </div>
        </div>
        <span class="edit-frame-btn" js-edit-frame-btn is="edit-card">Edit frame</span>
    </div>
</div>