<div class="measure-video-model" js-measure-video-model>
    <div class="popup__inner">
        <div class="cross__icon" js-close-model>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                <path d="M15.8926 4.10742L4.10747 15.8925" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M15.8925 15.8925L4.10742 4.10742" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_3788_50717">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </div>
        <div class="video__wrap">
            <iframe js-iframe-video width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>