<style>
.store-location {
    margin: 2.4rem 0 9.6rem;
}
.store-location .location-title {
    margin: 0 0 1.6rem;
    text-align: center;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -1px;
}
.store-location .location-description {
    margin: 0 0 2.4rem;
    text-align: center;
    font-size: 1.6rem;
}

@media screen and (max-width:750) {
    .store-location .location-title {
    font-size: 32px;
}
}

</style>

<div class="store-location">
    <div class="page-width">
        <h3 class="location-title">Find Us</h3>
        <p class="location-description">Find one our licensed retailers.</p>
    </div>
    <!-- Start Stockist.co widget -->
    <div data-stockist-widget-tag="u24812">Loading store locator
    from <a href="https://stockist.co">Stockist store locator</a>...</div>
    <script>
    (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
    k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
    })(document,'script','//stockist.co/embed/v1/widget.min.js');
    </script>
    <!-- End Stockist.co widget -->
    
</div>