.before_after_image_column_section_header{max-width:800px;margin:auto;text-align:center;margin-bottom:40px;}
.before_after_image_column_grid_item{width: 49.398%;border-radius: 12px;overflow:hidden;}
.before_after_content_wrapper{background:#F6F3F2;padding:24px;}
.before_after_content_wrapper .before_after_content_sub_title h4{color:#2D4256;font-family:var(--font-body-family);font-size: 14px;font-style: normal;font-weight: 600;line-height: 135%;letter-spacing: 0.28px;text-transform: uppercase;margin:0 0 8px;}
.before_after_content_wrapper .before_after_content_title h3{color:#2D4256;font-family:var(--font-heading-family);font-size: 24px;font-style: normal;font-weight: 500;line-height: 120%;letter-spacing: -0.2px;text-transform: capitalize;margin:0 0 8px;}
.before_after_content_wrapper .before_after_content_description,.before_after_content_wrapper .before_after_content_description p{font-size: 16px;font-style: normal;font-weight: 400;line-height: 135%;}
.before_after_content_wrapper .before_after_content_btnlink a{color: #2D4256;font-family:var(--font-body-family);font-size: 16px;font-style: normal;font-weight: 700;line-height: 135%; letter-spacing: 0.32px;text-transform: uppercase;}
.before_after_content_wrapper .before_after_content_btnlink{margin-top:16px;line-height: 0;}
.before_after_image_column_grid{display:flex;justify-content:space-between;}
.before_after_image_column_main_wrapper .twentytwenty-after{width:100%;}
.before_after_content_wrapper .before_after_content_description p{margin:0;}
@media(max-width:1250px){
  .before_after_image_column_section_header{max-width: 619px;}
  .before_after_image_column_section_header {max-width: 490px;}
}
@media(max-width:750px){
 .before_after_image_column_main_wrapper{ background:#F6F3F2!important;}
  .before_after_content_wrapper{ background:#fff;padding:16px;}
}
@media(max-width:450px){
  .before_after_image_column_grid{flex-direction:column;row-gap:20.48px;}
  .before_after_image_column_grid_item{width:100%;}
  .before_after_image_column_section_header {max-width: 326px;margin-bottom: 24px;}
  .before_after_image_column_main_wrapper .twentytwenty-container{height:240px!important;}
  .before_after_image_column_main_wrapper .twentytwenty-container img{height:100%!important;}
  .before_after_content_wrapper .before_after_content_title h3{font-size:20px;}
  /* .before_after_image_column_main_wrapper .twentytwenty-handle{width:36px;height:36px;}
  .before_after_image_column_main_wrapper .twentytwenty-right-arrow {border-left: 2px solid white;}
  .before_after_image_column_main_wrapper .twentytwenty-left-arrow{border-right: 2px solid white;}
  .before_after_image_column_main_wrapper .twentytwenty-left-arrow{margin-left: -13px;}
  .before_after_image_column_main_wrapper .twentytwenty-right-arrow{margin-right: -13px;}
  .before_after_image_column_main_wrapper .twentytwenty-horizontal .twentytwenty-handle:after{margin-top:17px;}
  .before_after_image_column_main_wrapper .twentytwenty-horizontal .twentytwenty-handle:before{margin-bottom:17px;} */
}